.container {
	max-width: 50%;
	text-align: center;
	margin: 0 auto;
	font-family: "Courier New", Courier, monospace; 
}

.title {
	font-size: 2em;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
}

.caption {
	font-size: 0.7em;
}

.image {
	margin-bottom: 50px;
}

a {
	color: #000000;
}

.text {
	margin-bottom: 50px;
}